{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> index </title>
        <link rel="stylesheet" href="../static/style/index.css">
    </head>
    <body>
        <a href="http://localhost:8080/category?category=Minecraft" class="cat"> Minecraft </a>
        <a href="http://localhost:8080/category?category=Geometry-Dash" class="cat"> Geometry Dash </a>
        <a href="http://localhost:8080/category?category=GTA" class="cat"> GTA </a>
        {{range .}}
            {{.Title}}
        {{end}}
    </body>
</html>
{{end}}