{{define "inscription"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Login </title>
    </head>
    <body>
        <header>
            <div class="title">
                <h1> Ymmersions </h1>
            </div>
            <div class="divider">
                <div class="categories">
                    <a href="http://localhost:8080/category?category=Minecraft" class="cat"> Minecraft </a>
                    <a href="http://localhost:8080/category?category=Geometry-Dash" class="cat"> Geometry Dash </a>
                    <a href="http://localhost:8080/category?category=GTA" class="cat"> GTA </a>
                    {{if .User.Admin }}
                        <a href="http://localhost:8080/admin" class="cat"> Admin </a>
                    {{end}}
                </div>
                <div class="searchbar">
                    <form action="/search" method="get">
                        <input class="input" type="search" name="title" placeholder="Rechercher" />
                        <button type="submit" class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main>
            <a href="{{.UserData.Url}}" class="cat"> fermer </a>
            <div class="content-container">
                <div class="form-container">
                    <h2 class="form-title">S'inscrire</h2>
                    <form method="post" action="/inscription/treatment" class="form">
                        <div class="form-group">
                            <label for="Nom" class="form-label">Nom d'utilisateur:</label>
                            <input type="text" id="Nom" name="Nom" class="form-input" autofocus required>
                        </div>
        
                        <div class="form-group">
                            <label for="Mdp" class="form-label">Mot de passe:</label>
                            <input type="password" id="Mdp" name="Mdp" class="form-input" required>
                        </div>
        
                        <div class="form-group">
                            <input type="submit" class="form-button" value="S'inscrire">
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <div class="namerights">
                <h4> Ymmersions </h4>
                <p> © 2024 Ymmersions. Tous droits réservés. </p>
            </div>
            <div class="links">
                <a href="#">
                    Page d'Explications    
                </a>
                <p>
                    Dante / Bellais / Carre / Sanchez
                </p>
            </div>
        </footer>
    </body>
</html>
{{end}}