{{define "inscription"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Login </title>
    </head>
    <body>
        <header>
            <div class="ticat">
                <div class="title">
                    <i class="fa-solid fa-pen-fancy fa-2xl"></i>
                    <h1> <a href="/index"> GBlog </a> </h1>
                </div>
                <div class="categories">
                <a href="http://localhost:8080/category?category=Minecraft" class="cat"> Minecraft </a>
                    <a href="http://localhost:8080/category?category=Geometry-Dash" class="cat"> Geometry Dash </a>
                    <a href="http://localhost:8080/category?category=GTA" class="cat"> GTA </a>
                    {{if .User.Admin }}
                        <a href="http://localhost:8080/admin" class="cat"> Admin </a>
                    {{end}}
                </div>
            </div>
            <div class="divider">
                <div class="searchbar">
                    <form action="/search" method="get">
                        <input class="input" type="search" name="title" placeholder="Rechercher" />
                        <button type="submit" class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                
                {{if .UserData.Connect}}
                    <div class="connect">
                        <p> {{.User.Name}} </p>
                        <a href="http://localhost:8080/unlog" class="cat"> <i class="fa-solid fa-power-off fa-xl"></i> </a>
                    </div>
                {{else}}
                    <div class="connect">
                        <a href="http://localhost:8080/login" class="cat">
                            <i class="fa-solid fa-user fa-xl"></i>
                        </a>
                    </div>
                {{end}}
            </div>
        </header>
        <main>
            <a href="{{.UserData.Url}}" class="cat"> fermer </a>
            <form class="form" action="/inscription/treatment" method="POST">
                <label for="Nom">Saisissez votre Identifiant</label>
                <input type="text" name="Nom" id="Nom" autofocus>
                <label for="Mdp">Mot de passe</label>
                <input type="password" name="Mdp" id="Mdp" >
                <button class="bouton" type="submit">Valider</button>
            </form>
        </main>
        <footer>
            <div class="namerights">
                <h4> Ymmersions </h4>
                <p> © 2024 Ymmersions. Tous droits réservés. </p>
            </div>
            <div class="links">
                <a href="#">
                    Page d'Explications    
                </a>
                <p>
                    Dante / Bellais / Carre / Sanchez
                </p>
            </div>
        </footer>
    </body>
</html>
{{end}}