{{define "mention"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mentions Légales - GBlog</title>
        <link rel="stylesheet" href="../static/css/mention.css">
    </head>
    <body>
        <header>
            <div class="ticat">
                <div class="title">
                    <img src="../static/img/logo.png" alt="logo" class="logo">
                    <h1><a href="/index">GBlog</a></h1>
                </div>
                <div class="categories">
                    <a href="http://localhost:8080/category?category=Minecraft" class="cat">Minecraft</a>
                    <a href="http://localhost:8080/category?category=Geometry-Dash" class="cat">Geometry Dash</a>
                    <a href="http://localhost:8080/category?category=GTA" class="cat">GTA</a>
                    {{if .User.Admin}}
                        <a href="http://localhost:8080/admin" class="cat">Admin</a>
                    {{end}}
                </div>
            </div>
            <div class="divider">
                <div class="searchbar">
                    <form action="/search" method="get">
                        <input class="input" type="search" name="title" placeholder="Rechercher">
                        <button type="submit" class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                {{if .UserData.Connect}}
                    <div class="connect">
                        <p>{{.User.Name}}</p>
                        <a href="http://localhost:8080/unlog" class="cat"><i class="fa-solid fa-power-off fa-xl"></i></a>
                    </div>
                {{else}}
                    <div class="connect">
                        <a href="http://localhost:8080/login" class="cat">
                            <i class="fa-solid fa-user fa-xl"></i>
                        </a>
                    </div>
                {{end}}
            </div>
        </header>
        <div class="text">
            <h1>Mentions Légales</h1>
            <div>
                <h2>Éditeur du site :</h2>
                <p>
                    Eliott QuoicouApagnan<br>
                    225 rue de la concorderie<br>
                    3630<br>
                    apagnan@Quoicoubeh.msn
                </p>
            </div>
            <div>
                <h2>Directeur de la publication :</h2>
                <p>Bellais</p>
            </div>
            <div>
                <h2>Hébergeur :</h2>
                <p>
                    Bellais<br>
                    200 Bellais rue de Bellais<br>
                    04<br>
                    Bellais@Bellais.Bellais
                </p>
            </div>
            <div>
                <h2>Propriété Intellectuelle :</h2>
                <p>Ce site et son contenu sont la propriété exclusive de Bellais. Toute reproduction, distribution, modification ou utilisation sans autorisation préalable est strictement interdite.</p>
            </div>
            <div>
                <h2>Collecte de données personnelles :</h2>
                <p>Nous collectons des données personnelles dans le respect de la législation en vigueur. Pour plus d'informations sur notre politique de confidentialité, veuillez consulter Bellais.com.</p>
            </div>
            <div>
                <h2>Cookies :</h2>
                <p>Ce site utilise des cookies pour améliorer l'expérience de navigation. En continuant à utiliser ce site, vous consentez à l'utilisation de cookies.</p>
            </div>
            <div>
                <h2>Contact :</h2>
                <p>Pour toute question ou demande d'information, veuillez nous contacter à eliott.bellais@ynov.com.</p>
            </div>
        </div>
    </body>
</html>
{{end}}
